
/*.product-item{
  background: #982828;

}*/
.fontsize{
  font-size: 20px;
}
.margin-right-100{
   margin-right:100px;
}
/*start Registration , login css*/
.margin-top-50{
  margin-top:50px;
}
/*end Registration , login css*/

/*sidebar css*/
.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 130px;
  left: 70px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #171723;
   background-color: #FFFF00;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 35px;
}
.nav-link {
    display: block;
    margin-top: -11px;
    margin-bottom: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #171723;
   background-color: #FFFF00;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
.form-group{
      padding: 5px;
}
.navbar-nav {
    display: flex;
    color: white;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
        margin-top: 16px;
    margin-bottom: -6px;
    font-size: 20px;
}


.coloring{
  background-color:#569bff;
}
/*override CSS's*/
.bg-light{
      background-color: #569bff!important;;
}
.margin-top-20{
  margin-top:20px;
}

.feature-img{
  max-height:200px;
}




/*footer*/

.footer-bottom{
  padding: 14px;
  margin-top: 20px;
  background: #569bff;

   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #569bff;
   color: white;
   text-align: center;
}


